.nav-pills a {
    color: #000000
}

.nav-pills a:hover {
    color: #000000;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.nav-pills .active a:hover {
    color: #000000;
    background-color: #000000;
    border-radius: 2px;
}

.nav-pills .nav-link.active {
    background-color: #adadad!important;
}

.imagen-usuario {
    border-radius: 50%;
}